/* h1 {
  color: red;
}

p {
  background-color: yellow;
} */

/* ID - target ID with # */
/* #firstheading {
  color: red;
}

#secondheading {
  color: blue;
}

#firstparagraph {
  background-color: yellow;
}

#secondparagraph {
  background-color: brown;
} */

/* target class with . */

/* Spacing */

/* margin */
/* padding */

.firstHeading {
  margin: 0 auto;
}

.firstparagraph {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-style: solid;

  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

  width: 300px;
  height: 180px;
}

.secondparagraph {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;

  border-style: solid;
}
